@media(max-width: 1440px) {
    .dropdown-menu.columns-3 {
        min-width: 588px;
    }
    .multi-gd-img {
        float: left;
        width: 50%;
    }
    .multi-gd-img img {
        margin-top: 20px;
    }
}

@media(max-width: 1366px) {
    .dropdown-menu.columns-3 {
        min-width: 551px;
    }
}

@media(max-width: 1280px) {
    .footer-top h2 {
        font-size: 32px;
    }
    .w3l-rightmk img {
        width: 100%;
    }
    .page-head_agile_info_w3l {
        min-height: 270px;
    }
    .dropdown-menu.columns-3 {
        min-width: 509px;
    }
}

@media(max-width: 1080px) {
    .header-bot_inner_wthreeinfo_header_mid {
        width: 100%;
    }
    .header-most-top p {
        padding: 7px;
        font-size: 15px;
    }
    .header ul li span {
        margin-right: 5px;
    }
    .agileits_search input[type="search"] {
        width: 87%;
    }
    .logo_agile h1 a {
        font-size: 34px;
        margin-top: 13px;
        display: inline-block;
    }
    .logo_agile h1 a img {
        width: 20%;
    }
    .navbar-nav>li>a {
        padding: 15px 7px;
    }
    .ads-grid,
    footer,
    .contact-w3l,
    .w3_wthree_agileits_icons,
    .typo,
    .faqs-w3l,
    .terms-of-use,
    .welcome,
    .about,
    .banner-bootom-w3-agileits,
    .privacy {
        padding: 4em 0;
    }
    h3.tittle-w3l {
        font-size: 2.8em;
    }
    h3.tittle-w3l:after {
        right: 40%;
    }
    .img-deals {
        padding: 0;
    }
    .img-deal1 h3 {
        font-size: 14px;
    }
    .img-deal1 {
        padding: 0 0 0 .5em;
    }
    .product-new-top {
        width: 35px;
        font-size: 10px;
        height: 35px;
    }
    .inner-men-cart-pro .link-product-add-cart {
        font-size: 11px;
    }
    .effect-bg h3 {
        font-size: 40px;
    }
    .effect-bg h6 {
        font-size: 16px;
    }
    h3.w3l-nut-middle {
        right: 24%;
        bottom: 45%;
    }
    .item-info-product h4 a {
        color: #000;
        font-size: 16px;
    }
    .w3l-specilamk {
        margin: 0 5px;
    }
    .nbs-flexisel-inner {
        width: 100%;
    }
    .nbs-flexisel-nav-right {
        right: -45px;
    }
    .nbs-flexisel-nav-left {
        left: -45px;
    }
    .product-name-w3l h4 a {
        font-size: 18px;
    }
    .footer-top h2 {
        font-size: 28px;
        letter-spacing: 0px;
    }
    .footer-top input[type="email"] {
        padding: 12px;
        font-size: 16px;
    }
    .footer-top input[type="submit"] {
        padding: 13px;
        font-size: 16px;
    }
    .footer-top p {
        margin: 15px 0 34px;
    }
    .w3l-rightmk img {
        margin-top: 20px;
    }
    .newsform-w3l span {
        font-size: 135px;
    }
    .footer-info h3 {
        font-size: 21px;
        letter-spacing: 1px;
    }
    .agileits_app-devices h5 {
        font-size: 15px;
        letter-spacing: 0;
    }
    .agileits_app-devices img {
        width: 100%;
    }
    .about-agileits-w3layouts-right p {
        font-size: 15px;
    }
    .about h4 {
        font-size: 25px;
    }
    .dropdown-menu.columns-3 {
        min-width: 439px;
        padding: 20px 12px;
    }
    .faq-w3agile .faq>li>a {
        font-size: 16px;
    }
    .contact-agile img {
        width: 100%;
    }
    .contact-right h4 {
        font-size: 27px;
    }
    .contact-text p {
        margin-top: 12px;
        font-size: 15px;
    }
    .contact-text {
        padding: 2em;
    }
    .contact-right.wthree {
        margin-top: 50px;
    }
    .map iframe {
        min-height: 350px;
    }
    .agile-right-help img {
        width: 100%;
    }
    h3.w3-head {
        font-size: 28px;
        margin: 0 0 20px 0;
    }
    .wthree-help form input[type="submit"] {
        font-size: 15px;
        padding: 11px 39px;
    }
    .inner-men-cart-pro .link-product-add-cart {
        width: 74%;
        left: 13%;
    }
}

@media(max-width: 1050px) {
    .button2 {
        margin-top: 1em;
    }
    .nbs-flexisel-nav-right {
        right: -36px;
    }
    .nbs-flexisel-nav-left {
        left: -36px;
    }
    .footer-top h2 {
        font-size: 27px;
    }
    .w3l-rightmk img {
        margin-top: 27px;
    }
    .dropdown-menu.columns-3 {
        min-width: 425px;
        padding: 20px 0 20px 9px;
    }
}

@media(max-width: 1024px) {
    .logo_agile h1 a {
        font-size: 32px;
        margin-top: 16px;
    }
    h3.tittle-w3l {
        font-size: 2.5em;
    }
    .bg-right-nut img {
        width: 100%;
    }
    .effect-bg h3 {
        font-size: 39px;
    }
    .effect-bg {
        margin-top: 30px;
    }
    h3.w3l-nut-middle {
        right: 29%;
        bottom: 44%;
        font-size: 29px;
    }
    .nbs-flexisel-nav-right {
        right: -30px;
    }
    .nbs-flexisel-nav-left {
        left: -30px;
    }
    .w3l-rightmk img {
        margin-top: 34px;
    }
    .page-head_agile_info_w3l {
        min-height: 250px;
    }
    .dropdown-menu.columns-3 {
        min-width: 416px;
        padding: 20px 0 20px 0px;
    }
    .terms h5 {
        font-size: 19px;
    }
}

@media(max-width: 991px) {
    .header-most-top p {
        padding: 6px;
        font-size: 14px;
    }
    h3.agileits-icons-title {
        font-size: 28px;
    }
    h3.icon-subheading {
        font-size: 22px;
    }
    .logo_agile h1 a {
        font-size: 36px;
        margin-top: 0;
    }
    .logo_agile h1 a img {
        width: 24%;
    }
    .header {
        margin-top: 8px;
    }
    .header-bot_inner_wthreeinfo_header_mid {
        width: 95%;
    }
    .agileits_search input[type="search"] {
        width: 91%;
    }
    #agileinfo-nav_search {
        font-size: 13px;
    }
    a.nav-stylehead {
        font-size: 14px;
    }
    .navbar-nav>li {
        margin: 0 8px;
    }
    .navbar-nav>li>a {
        padding: 15px 0px;
        font-size: 13px;
    }
    .header-bot {
        padding: 10px 0 15px;
    }
    .ads-grid,
    footer,
    .contact-w3l,
    .w3_wthree_agileits_icons,
    .typo,
    .faqs-w3l,
    .terms-of-use,
    .welcome,
    .about,
    .banner-bootom-w3-agileits,
    .privacy {
        padding: 3em 0;
    }
    .side-bar {
        padding: 20px 50px 30px;
    }
    .img-deals {
        padding: 0 1em;
        width: 17%;
    }
    .img-deal1 h3 {
        font-size: 15px;
    }
    .img-deal1 {
        margin-top: 7px;
    }
    .product-men {
        margin-top: 2em;
        float: left;
        width: 33%;
    }
    .agileinfo-ads-display {
        margin-top: 35px;
    }
    .product-name-w3l h4 a {
        font-size: 15px;
    }
    .w3l-specilamk {
        padding: 20px 10px;
    }
    .nbs-flexisel-nav-right {
        right: -63px;
    }
    .nbs-flexisel-nav-left {
        left: -63px;
    }
    .w3l-pricehkj h6 {
        font-size: 19px;
    }
    .footer-top h2 {
        font-size: 26px;
    }
    p.footer-main {
        font-size: 14px;
    }
    .text-form-footer h3 {
        font-size: 21px;
    }
    .icon-fot span {
        font-size: 28px;
        line-height: 1.8;
    }
    .w3l-grids-footer {
        padding: 25px 0;
    }
    .address-right {
        width: 50%;
        float: left;
    }
    .footer-grids.w3l-socialmk {
        float: left;
        width: 100%;
        padding-left: 15px;
        margin-top: 30px;
    }
    .footer-info.w3-agileits-info {
        padding: 40px 0;
    }
    .footer-grids:nth-child(2) {
        padding: 0;
    }
    .copy-right p {
        font-size: 14px;
    }
    p {
        font-size: 15px;
    }
    .w3l-rightmk img {
        margin-top: 42px;
    }
    ul.multi-column-dropdown li a {
        font-size: .85em;
    }
    .single-right-left {
        float: left;
        width: 60%;
        padding: 0 0 0px;
        margin-bottom: 50px;
    }
    .single-right-left.simpleCart_shelfItem {
        width: 100%;
        margin: 0;
    }
    .faq-w3agile .faq>li>a {
        font-size: 15px;
    }
    h3.w3-head {
        font-size: 24px;
    }
    .contact-form.wthree {
        width: 100%;
    }
    .contact-text {
        padding: 1em;
    }
    .checkout-right h4 {
        font-size: 24px;
    }
    .timetable_sub th {
        font-size: 14px;
        padding: 12px 5px;
    }
    label.anim {
        font-size: 14px;
    }
    .number-paymk {
        margin-top: 30px;
    }
    h3.tittle-w3l:after {
        right: 37%;
    }
    .agileits_app-devices h5 {
        font-size: 17px;
        letter-spacing: 1px;
    }
}

@media(max-width: 900px) {
    .agileits_search input[type="search"] {
        width: 88%;
    }
    .agile-leftmk {
        padding: 3em 0 3em 1em;
    }
    .footer-top h2 {
        font-size: 24px;
    }
    .newsform-w3l span {
        font-size: 109px;
    }
    .w3l-rightmk img {
        margin-top: 49px;
    }
    .page-head_agile_info_w3l {
        min-height: 200px;
    }
    .dropdown-menu.columns-3 {
        min-width: 372px;
        padding: 20px;
    }
    .multi-gd-img {
        float: none;
        width: 100%;
    }
    ul.multi-column-dropdown li {
        line-height: 2.3;
    }
    .footer-top input[type="submit"] {
        font-size: 15px;
    }
}

@media(max-width: 800px) {
    .nbs-flexisel-nav-right {
        right: -29px;
    }
    .nbs-flexisel-nav-left {
        left: -29px;
    }
    .footer-top h2 {
        font-size: 21px;
    }
    .footer-top p {
        margin: 12px 0 26px;
        font-size: 16px;
    }
    .footer-top input[type="email"] {
        font-size: 15px;
    }
    .footer-top input[type="submit"] {
        width: 23%;
    }
    .newsform-w3l span {
        font-size: 92px;
        right: 2%;
        top: 9%;
    }
    .dropdown-menu.columns-3 {
        min-width: 315px;
    }
    .w3l-rightmk img {
        margin-top: 56px;
    }
    .terms p {
        padding-left: 18px;
    }
}

@media(max-width: 768px) {
    .dropdown-menu.columns-3 {
        min-width: 295px;
    }
    h3.agileits-icons-title {
        font-size: 28px;
    }
    h3.icon-subheading {
        font-size: 25px;
    }
    .row {
        margin-right: 0;
        margin-left: 0;
    }
    .icon-box {
        margin: 0;
    }
    .w3l-specilamk {
        padding: 20px;
        margin: 0 14px;
    }
    .nbs-flexisel-inner {
        width: 90%;
    }
    .nbs-flexisel-nav-right {
        right: 0px;
    }
    .nbs-flexisel-nav-left {
        left: 0px;
    }
    .agile-leftmk {
        padding: 2.5em 0 2em .5em;
    }
    .w3l-rightmk img {
        margin-top: 41px;
    }
    .sub-some h5 {
        font-size: 18px
    }
    .featured-section {
        padding-bottom: 3em;
    }
    .product-new-top {
        width: 30px;
        font-size: 9px;
        height: 30px;
    }
    .faq-w3agile .faq li {
        margin-top: 1.5em;
    }
    .dropdown-menu {
        min-width: 127px;
    }
    .ban-top {
        margin: 0 0px 10px 0px;
    }
    .contact-form.wthree {
        width: 93%;
        padding: 40px 30px;
    }
    .contact input[type="text"],
    .contact input[type="email"],
    .contact textarea {
        font-size: 14px;
        padding: 12px 12px;
        margin-bottom: 15px;
    }
    .contact textarea {
        min-height: 11em;
    }
    img.pp-img {
        width: 40%;
    }
}

@media(max-width: 767px) {
    .navbar-toggle {
        float: right;
        margin: 8px 0;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #e7e7e7;
        background: rgba(0, 0, 0, 0.83);
        position: absolute;
        width: 100%;
        z-index: 999;
    }
    .navbar-default .navbar-toggle {
        border-color: #000;
    }
    .navbar-default .navbar-nav>li>a {
        color: #fff;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #000;
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background: none;
    }
    .navbar-nav>li {
        margin: 0;
        text-align: center;
    }
    .navbar-default .navbar-toggle {
        border-color: #FF5722;
        border-radius: 1px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #fff;
        letter-spacing: 2px;
        padding: 0;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li {
        margin-top: 1em;
    }
    .top-nav ul {
        padding-bottom: 10px;
    }
    .navbar {
        min-height: 0;
        float: none;
    }
    .navbar-nav {
        margin: 5px 0;
    }
    .navbar-nav>li>a {
        font-size: 15px;
    }
    .navbar-default .navbar-nav>.open>a,
    .navbar-default .navbar-nav>.open>a:hover,
    .navbar-default .navbar-nav>.open>a:focus {
        color: #fff;
    }
    ul.multi-column-dropdown li a {
        font-size: .9em;
        color: #fff;
    }
    ul.multi-column-dropdown li {
        line-height: 2.5;
    }
    .multi-gd-img img {
        width: 53%;
    }
    .agileits-navi_search {
        float: left;
        width: 25%;
    }
    .top_nav_left {
        float: right;
        width: 75%;
    }
    .agile_short_dropdown li a {
        border-bottom: none;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #fff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #FF5722;
    }
}

@media(max-width: 736px) {
    .product-sec1 {
        padding: 30px 10px;
    }
    .agile-leftmk {
        width: 100%;
        float: none;
    }
    .w3l-rightmk {
        width: 100%;
        float: none;
        text-align: center;
    }
    .w3l-rightmk img {
        margin-top: 0px;
        width: 43%;
    }
    .text-form-footer h3 {
        font-size: 20px;
    }
    .faq-w3agile .faq>li>a {
        font-size: 14px;
    }
    li.subitem1 p {
        font-size: 13px;
    }
    .agile-left-help {
        float: none;
        width: 100%;
        margin-bottom: 16px;
    }
    .agile-right-help {
        float: none;
        width: 100%;
        text-align: center;
    }
    .agile-right-help img {
        width: 53%;
    }
    .timetable_sub th {
        font-size: 13px
    }
    .about iframe {
        min-height: 382px;
    }
}

@media(max-width: 667px) {
    .logo_agile h1 a {
        font-size: 33px;
    }
    .header-bot_inner_wthreeinfo_header_mid {
        width: 100%;
    }
    .logo_agile h1 a img {
        width: 22%;
    }
    .header ul li {
        font-size: 12px;
    }
    .agileits_search input[type="search"] {
        width: 86%;
    }
    h3.tittle-w3l {
        font-size: 2.3em;
    }
    .heading-style i {
        width: 9px;
        height: 9px;
    }
    .heading-style i:nth-child(2) {
        width: 11px;
        height: 11px;
    }
    h3.tittle-w3l:after {
        width: 169px;
    }
    .img-deals {
        width: 20%;
    }
    .item-info-product h4 a {
        font-size: 15px;
    }
    span.item_price {
        font-size: 16px;
    }
    .info-product-price del {
        font-size: 14px;
    }
    .snipcart-details input.button {
        font-size: 12px;
        padding: 11px 13px;
    }
    .item-info-product {
        margin-top: 30px;
    }
    .inner-men-cart-pro .link-product-add-cart {
        font-size: 13px;
    }
    h3.heading-tittle {
        font-size: 32px;
    }
    .effect-bg h3 {
        font-size: 35px;
        letter-spacing: 2px;
    }
    .effect-bg h6 {
        font-size: 13px;
        margin: 15px 0;
    }
    .effect-bg {
        margin-top: 25px;
    }
    h3.w3l-nut-middle {
        right: 28%;
        bottom: 44%;
        font-size: 26px;
    }
    .w3l-pricehkj h6 {
        font-size: 18px;
    }
    .offer-footer {
        padding: 0 .5em;
    }
    .text-form-footer h3 {
        letter-spacing: 1px;
    }
    .product-men {
        padding: 0 .5em;
    }
    .footer-grids ul li {
        font-size: 13px;
    }
    .footer-grids ul li i {
        padding-right: 4px;
    }
    .navbar-nav>li>a {
        font-size: 14px;
        padding: 12px 0px;
    }
    .page-head_agile_info_w3l {
        min-height: 180px;
    }
    ul.w3_short li {
        font-size: .8em;
    }
    ul.w3_short {
        padding: 12px 0;
    }
    #PPminicartk {
        left: 35% !important;
    }
    .value-minus,
    .value-plus {
        height: 17px;
        width: 17px;
    }
    .value {
        width: 17px;
        height: 17px;
        line-height: 0px;
    }
    .checkout-right h4 {
        font-size: 22px;
        margin-bottom: 25px;
    }
    .address_form_agile h4 {
        font-size: 22px;
        margin-bottom: 25px;
    }
    .information-wrapper input,
    .information-wrapper select {
        font-size: 14px;
        padding: 12px 10px;
    }
    .footer-info h3 {
        font-size: 20px;
    }
    .about iframe {
        min-height: 340px;
    }
}

@media(max-width: 640px) {
    .header ul li {
        font-size: 11px;
    }
    .icon-box {
        float: left;
        width: 50%;
    }
    .header-most-top p {
        padding: 5px;
        font-size: 12px;
    }
    .logo_agile h1 a {
        font-size: 31px;
    }
    .logo_agile h1 a img {
        width: 40%;
        margin-bottom: 10px;
    }
    .header {
        margin-top: 2px;
    }
    .agileits_search input[type="search"] {
        font-size: 13px;
    }
    .agileits_search .btn-default {
        height: 40px
    }
    .header-bot {
        padding: 6px 0 10px;
    }
    #agileinfo-nav_search {
        font-size: 12px;
        padding: 10px 10px;
    }
    .navbar-toggle {
        padding: 7px 8px;
    }
    .navbar-toggle {
        margin: 5px 0;
    }
    .w3l-specilamk {
        margin: 0 8px;
    }
    h3.w3l-nut-middle {
        right: 27%;
        bottom: 44%;
        font-size: 25px;
    }
    .item-info-product h4 a {
        font-size: 14px;
        letter-spacing: .7px;
    }
    p.footer-main {
        font-size: 13px;
        margin-bottom: 30px;
    }
    .text-form-footer h3 {
        font-size: 19px;
    }
    .icon-fot span {
        font-size: 25px;
    }
    .w3l-grids-footer {
        padding: 20px 0;
    }
    .address-right {
        width: 100%;
        float: none;
    }
    .footer-info h3 {
        margin-bottom: 16px;
    }
    .address-right:nth-child(2) {
        margin-top: 23px;
    }
    .sub-some h5 {
        font-size: 17px;
    }
    .sub-some ul li {
        margin: 1px 2px;
    }
    .copy-right p {
        font-size: 13px;
    }
    .child-momu ul li {
        margin: 1px;
    }
    .footer-grids.agile-secomk {
        margin-top: 22px;
    }
    p {
        font-size: 14px;
    }
    .contact-text,
    .contact-agile {
        float: none;
        width: 100%;
    }
    .contact-agile {
        text-align: center;
    }
    .contact-agile img {
        width: 63%;
    }
    .map iframe {
        min-height: 300px;
    }
    .timetable_sub th,
    .timetable_sub td {
        width: 50px;
    }
    td.invert-image a img {
        width: 62%;
    }
    label.anim {
        font-size: 13px;
    }
    .terms h6 {
        font-size: 19px;
        margin: 21px 0 6px 0;
    }
    .footer-grids ul li {
        font-size: 14px;
    }
    h3.tittle-w3l:after {
        right: 36.5%;
    }
    .Deal {
        display: none;
    }
}

@media(max-width: 600px) {
    .img-deals {
        width: 23%;
    }
    .w3l-specilamk {
        padding: 16px 10px;
    }
    .effect-bg h3 {
        font-size: 33px;
    }
    .effect-bg h6 {
        font-size: 12px;
    }
    .effect-bg {
        margin-top: 20px;
    }
    h3.w3l-nut-middle {
        right: 27%;
        bottom: 44%;
        font-size: 23px;
    }
    .product-sec1 {
        padding: 30px 3px;
    }
    .offer-footer {
        padding: 0;
    }
    .footer-info.w3-agileits-info {
        padding: 30px 0;
    }
    .child-momu ul li {
        margin: 4px 1px 0;
    }
    .item-info-product h4 a {
        letter-spacing: .3px;
    }
    #PPminicartk form {
        max-height: 210px !important;
        width: 506px !important;
    }
    #PPminicartk {
        left: 41% !important;
    }
    #PPminicartk ul {
        width: 464px !important;
    }
    #PPminicartk .minicartk-subtotal {
        padding-left: 0px !important;
        bottom: -18px !important;
        font-size: 15px;
    }
    #PPminicartk .minicartk-submit {
        min-width: 133px !important;
        font-size: 14px;
        padding: 0 !important;
        margin-right: 0 !important;
    }
    .vertical_post form input[type="submit"],
    .number-paymk input[type="submit"] {
        padding: 10px 19px;
        font-size: 14px;
    }
    .creditly-card-form .submit span {
        padding: 11px 18px;
        font-size: 14px;
    }
    .vertical_post h5 {
        font-size: 18px;
        letter-spacing: 0px;
    }
    .swit-radio label {
        font-size: 15px;
        margin-bottom: 6px;
    }
    h3.tittle-w3l:after {
        right: 35%;
    }
    .about iframe {
        min-height: 298px;
    }
    .Deal {
        display: none;
    }
}

@media(max-width: 568px) {
    .header ul li {
        width: 32%;
        padding: 3px 0;
    }
    .header ul li:nth-child(4) {
        margin-top: 10px;
    }
    .agileits_search input[type="search"] {
        width: 85%;
    }
    .product-men {
        padding: 0 1em;
    }
    .product-men {
        margin-top: 1.5em;
        float: none;
        width: 100%;
    }
    .product-new-top {
        width: 40px;
        font-size: 11px;
        height: 40px;
        line-height: 3.4;
        right: 95px;
    }
    h3.w3l-nut-middle {
        right: 25%;
    }
    .effect-bg h3 {
        font-size: 31px;
    }
    .effect-bg {
        margin-top: 16px;
    }
    .item-info-product h4 a {
        letter-spacing: 1px;
        font-size: 16px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    span.item_price {
        font-size: 18px;
    }
    .info-product-price del {
        font-size: 15px;
    }
    .product-name-w3l h4 a {
        font-size: 14px;
    }
    .w3l-pricehkj h6 {
        font-size: 17px;
    }
    .w3l-pricehkj p {
        font-size: 14px;
    }
    .w3l-pricehkj {
        margin: 10px 0 16px;
    }
    .w3l-rightmk img {
        width: 50%;
    }
    .text-form-footer h3 {
        font-size: 18px;
    }
    .copy-right p {
        letter-spacing: 1px;
    }
    .page-head_agile_info_w3l {
        min-height: 150px;
    }
    .about-agileits-w3layouts-right p {
        font-size: 14px;
    }
    #agileinfo-nav_search {
        font-size: 11px;
    }
    .navbar-nav>li>a {
        font-size: 13px;
        padding: 10px 0px;
    }
    .inner-men-cart-pro .link-product-add-cart {
        width: 33%;
        left: 34%;
    }
    .snipcart-details {
        width: 50%;
    }
    .w3l-rightpro .product-men {
        margin-top: 1.5em;
    }
    .single-right-left {
        width: 50%;
        margin-bottom: 20px;
    }
    .single-right-left.simpleCart_shelfItem {
        width: 100%;
        margin: 0;
    }
    .single-right-left h3 {
        font-size: 22px;
    }
    .contact textarea {
        min-height: 10em;
    }
    .terms h6 {
        font-size: 18px;
        letter-spacing: 0px;
    }
    .terms h5 {
        font-size: 18px;
        letter-spacing: 0px;
    }
    .agile-right-help img {
        width: 63%;
    }
    .contact-agile img {
        width: 70%;
    }
    h3.agileinfo_sign {
        font-size: 30px;
    }
    .modal-body.modal-body-sub_agile p {
        font-size: 14px;
        margin-bottom: 12px;
    }
    .modal-body.modal-body-sub_agile input[type="text"],
    .modal-body.modal-body-sub_agile input[type="email"],
    .modal-body.modal-body-sub_agile input[type="password"] {
        font-size: 13px;
    }
    .modal-body.modal-body-sub_agile input[type="submit"] {
        padding: 10px 35px;
        font-size: 13px;
        margin: 10px 0;
    }
    .main-mailposi span {
        font-size: 107px;
    }
    .Deal {
        display: none;
    }
}

@media(max-width: 480px) {
    .agileits_search input[type="search"] {
        width: 82%;
    }
    h3.tittle-w3l {
        font-size: 2em;
    }
    .ads-grid,
    footer,
    .contact-w3l,
    .w3_wthree_agileits_icons,
    .typo,
    .faqs-w3l,
    .terms-of-use,
    .welcome,
    .about,
    .banner-bootom-w3-agileits,
    .privacy {
        padding: 2.5em 0;
    }
    .img-deals {
        width: 30%;
    }
    .heading-style i {
        margin: 0 -3px;
    }
    h3.tittle-w3l:after {
        right: 31%;
    }
    .button2 {
        font-size: 12px;
        padding: 10px 15px;
    }
    .effect-bg {
        margin-top: 0px;
        float: none;
        width: 100%;
    }
    .bg-right-nut {
        float: none;
        width: 100%;
        text-align: right;
        margin-top: 20px;
    }
    .bg-right-nut img {
        width: 50%;
    }
    h3.w3l-nut-middle {
        right: 12%;
        bottom: 51%;
        font-size: 32px;
        letter-spacing: 2px;
        transform: rotate(-28deg);
        -ms-transform: rotate(-28deg);
        -webkit-transform: rotate(-28deg);
    }
    .product-new-top {
        right: 57px;
    }
    .w3l-specilamk {
        padding: 20px;
        margin: 0 32px;
    }
    .footer-top h2 {
        font-size: 19px;
    }
    .footer-top input[type="submit"] {
        font-size: 14px;
    }
    .w3l-rightmk img {
        width: 60%;
    }
    .offer-footer {
        padding: 0;
        float: none;
        width: 100%;
    }
    .icon-fot span {
        font-size: 19px;
        line-height: 1;
    }
    .icon-fot {
        width: 14%;
    }
    .offer-footer:nth-child(2) {
        margin: 17px 0;
    }
    .about iframe {
        min-height: 234px;
    }
    .product-name-w3l h4 a {
        font-size: 16px;
        letter-spacing: 1px;
    }
    .w3l-pricehkj h6 {
        font-size: 18px;
    }
    .nbs-flexisel-nav-right,
    .nbs-flexisel-nav-left {
        top: 153px !important;
    }
    .contact textarea {
        min-height: 9em;
    }
    #PPminicartk form {
        width: 400px !important;
        max-height: 350px !important;
    }
    #PPminicartk ul {
        width: 358px !important;
    }
    .imagezoom-cursor,
    .imagezoom-view {
        display: none;
    }
    #PPminicartk {
        left: 51% !important;
    }
    #PPminicartk .minicartk-details-price {
        font-size: 14px !important;
    }
    #PPminicartk .minicartk-item a {
        font-size: .9em;
    }
    #PPminicartk .minicartk-submit {
        right: -62px !important;
    }
    img.pp-img {
        width: 50%;
    }
    .terms h6 {
        font-size: 16px;
        margin: 15px 0 3px 0;
    }
    .terms p {
        padding-left: 0px;
        font-size: 14px;
        margin-top: 10px;
    }
    .terms h5 {
        font-size: 15px;
    }
    .agile-right-help img {
        width: 80%;
    }
    h3.tittle-w3l:after {
        right: 34%;
        width: 140px;
    }
    h3.tittle-w3l {
        margin-bottom: 30px;
        padding-bottom: 16px;
    }
    h3.heading-tittle {
        font-size: 28px;
        letter-spacing: 0px;
    }
    .agileits-navi_search {
        width: 31%;
    }
    .top_nav_left {
        width: 69%;
    }
    .single-right-left h3 {
        font-size: 20px;
    }
    .quantity {
        width: 77px;
    }
    .timetable_sub th,
    .timetable_sub td {
        width: 165px;
    }
    .timetable_sub td {
        padding: 7px 4px;
        font-size: 12px;
    }
    .single-right-left {
        width: 100%;
    }
    .delivery .text-home {
        padding: 2px;
    }
    .delivery .delivery-btn {
        margin: 9px;
    }
    .category .home-cate {
        display: flex;
        padding: 22px 24px;
        /* margin: auto; */
        justify-content: space-between;
    }
    .category h1 {
        font-size: 22px;
        margin-top: 51px;
        margin-bottom: 49px;
    }
    .Offer h1 {
        margin-top: 47px;
        font-size: 22px;
    }
    .head-right {
        margin-top: 12px;
    }
    .header {
        display: unset;
    }
    .Deal h1 {
        margin-top: 47px;
        font-size: 22px;
    }
    .home-deal .deal-img {
        width: 249px;
        height: unset;
    }
    .trending .home-cate {
        display: flex;
        padding: 22px 39px;
        justify-content: space-between;
    }
    .trending .home-cate {
        display: flex;
        padding: 5px 66px;
        justify-content: space-between;
    }
    .cta h2 {
        font-size: 24px;
        text-align: center;
    }
    .text-form-footer {
        margin-left: 33px;
    }
    .category .main-cate {
        margin-bottom: 31px;
    }
    .main-cate .home-cate .row-spacer {
        height: unset;
    }
    .Offer .bg {
        margin-bottom: 18px;
    }
    .Deal {
        display: none;
    }
}

@media(max-width: 440px) {
    .agileits_search .btn-default {
        width: 48px;
    }
    .img-deals {
        width: 33%;
    }
    .head-right {
        margin-top: 12px;
    }
    .header {
        display: unset;
    }
    .product-new-top {
        right: 30px;
    }
    .inner-men-cart-pro .link-product-add-cart {
        width: 45%;
        left: 28%;
    }
    .snipcart-details {
        width: 63%;
    }
    .footer-top h2 {
        font-size: 21px;
        line-height: 1.6;
    }
    .footer-grids ul li {
        font-size: 13px;
        margin: 12px 0 0;
    }
    .footer-info h3 {
        margin-bottom: 15px;
        letter-spacing: 0px;
    }
    .sub-some h5 {
        letter-spacing: 0px;
        margin-bottom: 8px;
    }
    .sub-some p {
        font-size: 12px;
    }
    .sub-some ul li a {
        font-size: 12px;
    }
    .sub-some ul li {
        margin: 0px 1px;
    }
    .terms h6 {
        font-size: 18px;
        line-height: 1.8;
    }
    .terms h5 {
        font-size: 16px;
        line-height: 1.8;
    }
    .wthree-help textarea {
        height: 120px;
    }
    .child-momu ul li {
        margin: 7px 1px 0;
    }
    .dropdown-menu.columns-3 {
        min-width: 268px;
    }
    .footer-top input[type="submit"] {
        width: 26%;
    }
    #agileinfo-nav_search {
        padding: 10px 3px;
    }
    .modal-body.modal-body-sub_agile p a {
        display: block;
    }
    .checkout-right h4 {
        font-size: 20px;
    }
    .timetable_sub th {
        font-size: 12px;
    }
    .category .main-cate {
        margin-bottom: 31px;
    }
    .main-cate .home-cate .row-spacer {
        height: unset;
    }
    .Offer .bg {
        margin-bottom: 18px;
    }
    .Deal {
        display: none;
    }
}

@media(max-width: 414px) {
    .ads-grid,
    footer,
    .contact-w3l,
    .w3_wthree_agileits_icons,
    .typo,
    .faqs-w3l,
    .terms-of-use,
    .welcome,
    .about,
    .banner-bootom-w3-agileits,
    .privacy {
        padding: 2em 0;
    }
    h3.tittle-w3l:after {
        right: 35%;
        width: 120px;
    }
    .side-bar {
        padding: 10px 30px 30px;
    }
    h3.w3l-nut-middle {
        right: 14%;
        bottom: 44%;
        font-size: 25px;
        letter-spacing: 2px;
        transform: rotate(-28deg);
        -ms-transform: rotate(-28deg);
        -webkit-transform: rotate(-32deg);
    }
    .page-head_agile_info_w3l {
        min-height: 120px;
    }
    .w3l-specilamk {
        margin: 0 20px;
    }
    .dropdown-menu.columns-3 {
        min-width: 251px;
    }
    .welcome-grids {
        width: 100%;
    }
    .welcome-grids:nth-child(2) {
        margin-top: 20px;
    }
    #agileinfo-nav_search {
        font-size: 10px;
    }
    .about iframe {
        min-height: 206px;
    }
    .dropdown-menu.columns-3 {
        padding: 10px 20px;
    }
    h3.w3-head {
        font-size: 22px;
    }
    .faq-w3agile .faq>li>a {
        font-size: 13px;
    }
    .contact-form.wthree {
        width: 100%;
        padding: 30px 20px;
    }
    .contact input[type="text"],
    .contact input[type="email"],
    .contact textarea {
        font-size: 13px;
        padding: 11px 12px;
        margin-bottom: 13px;
    }
    .contact input[type="submit"] {
        padding: 9px 34px;
        font-size: 14px;
        margin: .5em 0 0 0;
    }
    .contact-text {
        padding: 0 1em;
    }
    .contact-right h4 {
        font-size: 23px;
    }
    .contact-text p {
        margin-top: 11px;
        font-size: 14px;
    }
    .category .main-cate {
        margin-bottom: 31px;
    }
    .main-cate .home-cate .row-spacer {
        height: unset;
    }
    .Offer .bg {
        margin-bottom: 18px;
    }
    .contact-agile img {
        width: 100%;
        margin-top: 16px;
    }
    .map iframe {
        min-height: 250px;
    }
    #PPminicartk form {
        width: 380px !important;
    }
    #PPminicartk ul {
        width: 336px !important;
    }
    #PPminicartk {
        left: 53% !important;
    }
    #PPminicartk .minicartk-quantity {
        width: 18px !important;
        font-size: 11px !important;
    }
    #PPminicartk .minicartk-details-quantity {
        width: 10% !important;
    }
    #PPminicartk .minicartk-details-remove {
        width: 9% !important;
    }
    .checkout-right h4 {
        font-size: 19px;
        margin-bottom: 18px;
    }
    label.anim {
        line-height: 1.8;
    }
    .modal-body.modal-body-sub_agile p {
        font-size: 13px;
    }
    h3.agileinfo_sign {
        margin-bottom: 12px;
    }
    .faq-w3agile h5,
    .privacy-w3row h5 {
        font-size: 18px;
    }
    .agile-right-help img {
        width: 100%;
    }
    .Deal {
        display: none;
    }
}

@media (max-width: 414px) {
    h3.agileits-icons-title {
        font-size: 23px;
    }
    h3.icon-subheading {
        font-size: 18px;
    }
    .bs-glyphicons li {
        width: 31.33%;
    }
    .Deal {
        display: none;
    }
}

@media(max-width: 384px) {
    .header-most-top p {
        padding: 6px;
        font-size: 11px;
        letter-spacing: 1px;
    }
    .header ul li {
        font-size: 10px;
    }
    .header ul li span {
        font-size: 14px;
    }
    .agileits_search input[type="search"] {
        font-size: 12px;
    }
    .agileits_search .btn-default {
        width: 43px;
        height: 39px;
    }
    .agileits-navi_search {
        width: 35%;
    }
    .top_nav_left {
        width: 65%;
    }
    .heading-style i {
        width: 8px;
        height: 8px;
    }
    .category .main-cate {
        margin-bottom: 31px;
    }
    .main-cate .home-cate .row-spacer {
        height: unset;
    }
    .Offer .bg {
        margin-bottom: 18px;
    }
    .heading-style i:nth-child(2) {
        width: 10px;
        height: 10px;
    }
    h3.tittle-w3l:after {
        right: 35%;
        width: 100px;
    }
    .product-new-top {
        right: 3px;
    }
    .effect-bg h3 {
        font-size: 28px;
        letter-spacing: 1px;
    }
    .effect-bg h6 {
        font-size: 11px;
        margin: 13px 0;
    }
    p {
        font-size: 13px;
    }
    h3.w3l-nut-middle {
        bottom: 45%;
        font-size: 22px;
    }
    .bg-right-nut {
        margin-top: 40px;
    }
    .w3l-specilamk {
        margin: 0 7px;
    }
    .nbs-flexisel-nav-right {
        right: -10px;
    }
    .nbs-flexisel-nav-left {
        left: -10px;
    }
    ul.multi-column-dropdown li a {
        font-size: .8em;
    }
    .dropdown-menu.columns-3 {
        padding: 10px;
        min-width: 217px;
    }
    .multi-gd-img img {
        width: 100%;
        margin-top: 15px;
    }
    .single-right-left h3 {
        font-size: 19px;
    }
    h3.w3-head {
        font-size: 20px;
    }
    .faq-w3agile .faq li {
        margin-top: 1em;
    }
    #PPminicartk form {
        width: 313px !important;
        padding: 10px 10px 40px !important;
    }
    #PPminicartk ul {
        width: 278px !important;
    }
    #PPminicartk {
        left: 63% !important;
    }
    #PPminicartk .minicartk-subtotal {
        font-size: 14px;
    }
    #PPminicartk .minicartk-submit {
        right: 18px !important;
        bottom: -87px!important;
        margin-bottom: 20px !important;
    }
    .Deal {
        display: none;
    }
    .checkout-right h4 {
        font-size: 18px;
    }
    .wthree-help {
        margin: 30px auto;
    }
}

@media(max-width: 375px) {
    .dropdown-menu.columns-3 {
        min-width: 212px;
    }
    .w3l-specilamk {
        padding: 15px;
    }
    .head-right {
        margin-top: 12px;
    }
    .header {
        display: unset;
    }
    .w3l-rightmk img {
        width: 100%;
    }
    .footer-top input[type="email"] {
        font-size: 14px;
        padding: 11px;
    }
    .footer-top input[type="submit"] {
        font-size: 13px;
        padding: 12px 10px;
    }
    .product-single-w3l ul li {
        font-size: 13px;
    }
    .single-infoagile ul li {
        font-size: 13px;
    }
    .Deal {
        display: none;
    }
    span.item_price {
        font-size: 17px;
    }
    .single-right-left del {
        margin: 0 7px 0 9px;
        font-size: 14px;
    }
    .checkout-right h4 {
        font-size: 17px;
    }
    .home-deal .deal-btn {
        margin-top: 5px;
        font-size: 9px;
    }
    .home-deal .deal-text {
        padding-top: 24px;
        padding-left: 10px;
    }
    .home-deal .deal-img {
        width: 199px;
        height: unset;
    }
    .category .main-cate {
        margin-bottom: 31px;
    }
    .main-cate .home-cate .row-spacer {
        height: unset;
    }
    .Offer .bg {
        margin-bottom: 18px;
    }
    .home-deal .deal-text {
        padding: unset;
        padding-top: 27px;
        padding-left: 20px;
    }
    .home-deal {
        margin-bottom: 15px;
    }
    .home-deal .spacer {
        height: unset;
    }
    .home-deal .deal-img {
        width: 150px;
        height: 196px;
    }
    .trending .home-cate {
        padding: 5px 39px;
        margin-bottom: 11px;
    }
}

@media(max-width: 320px) {
    .header-most-top p {
        padding: 5px;
        font-size: 10px;
    }
    .logo_agile h1 a {
        font-size: 28px;
    }
    .header ul li {
        font-size: 9.5px;
        letter-spacing: .5px;
        padding: 2px 0;
    }
    .agileits_search input[type="search"] {
        font-size: 11px;
        letter-spacing: 0px;
        width: 80%;
    }
    .agileits_search .btn-default {
        width: 39px;
        height: 37px;
    }
    .agileits_search {
        margin-top: 10px;
    }
    button.w3view-cart {
        width: 41px;
        height: 36px;
        font-size: 21px;
    }
    .box_1 {
        margin-top: 10px;
    }
    .header-bot {
        padding: 3px 0 9px;
    }
    .header {
        padding: 0 .5em;
    }
    .header ul li span {
        font-size: 12px;
        margin-right: 3px;
    }
    .agileits-navi_search {
        width: 40%;
    }
    .top_nav_left {
        width: 60%;
    }
    .navbar-toggle .icon-bar {
        height: 1px;
    }
    .navbar-toggle {
        padding: 7px 6px;
    }
    .navbar-nav>li>a {
        font-size: 12px;
        padding: 7px 0px;
    }
    ul.multi-column-dropdown li a {
        font-size: .7em;
    }
    ul.multi-column-dropdown li {
        line-height: 2;
    }
    .dropdown-menu.columns-3 {
        min-width: 163px;
        padding: 1px;
    }
    .button2 {
        padding: 7px 15px;
        letter-spacing: 1px;
    }
    .ads-grid,
    footer,
    .contact-w3l,
    .w3_wthree_agileits_icons,
    .typo,
    .faqs-w3l,
    .terms-of-use,
    .welcome,
    .about,
    .banner-bootom-w3-agileits,
    .privacy {
        padding: 1.5em 0;
    }
    h3.tittle-w3l {
        margin-bottom: 24px;
        padding-bottom: 13px;
        font-size: 1.55em;
    }
    .heading-style i {
        width: 7px;
        height: 7px;
    }
    .heading-style i:nth-child(2) {
        width: 9px;
        height: 9px;
    }
    .heading-style i {
        margin: 0 -2px;
    }
    h3.tittle-w3l:after {
        right: 33%;
        width: 100px;
        bottom: -1px;
    }
    .side-bar {
        padding: 10px 20px 20px;
    }
    h3.agileits-sear-head {
        margin-bottom: 16px;
        font-size: 18px;
    }
    .left-side ul li span {
        font-size: 12px;
    }
    .img-deals {
        padding: 0;
    }
    .img-deal1 a {
        font-size: 17px;
    }
    .img-deal1 h3 {
        font-size: 14.5px;
    }
    .product-sec1 {
        padding: 15px 3px;
    }
    h3.heading-tittle {
        font-size: 23px;
    }
    .product-new-top {
        width: 30px;
        font-size: 9px;
        height: 30px;
        right: 0px;
    }
    .inner-men-cart-pro .link-product-add-cart {
        width: 60%;
        left: 19%;
    }
    .snipcart-details {
        width: 84%;
    }
    .item-info-product {
        margin-top: 20px;
    }
    .effect-bg h3 {
        font-size: 25px;
        letter-spacing: 0px;
    }
    .effect-bg h6 {
        font-size: 10px;
        margin: 10px 0;
        letter-spacing: 1px;
    }
    h3.w3l-nut-middle {
        bottom: 44%;
        right: 7%;
    }
    .product-name-w3l h4 a {
        font-size: 14px;
        letter-spacing: .5px;
    }
    .w3l-specilamk {
        padding: 15px 10px;
    }
    .w3l-pricehkj p {
        font-size: 13px;
    }
    .product-name-w3l {
        margin-top: 4px;
    }
    .nbs-flexisel-nav-right {
        right: -13px;
    }
    .nbs-flexisel-nav-left {
        left: -13px;
    }
    .nbs-flexisel-nav-right,
    .nbs-flexisel-nav-left {
        top: 149px !important;
    }
    .footer-top h2 {
        font-size: 18px;
    }
    .agile-leftmk {
        padding: 1.5em 0 .5em .5em;
    }
    .footer-top p {
        margin: 10px 0 16px;
        font-size: 13px;
    }
    .newsform-w3l span {
        font-size: 80px;
        top: 18%;
    }
    .footer-top input[type="email"] {
        width: 68%;
        font-size: 12px;
    }
    .footer-top input[type="submit"] {
        font-size: 12px;
        padding: 11px 10px;
        width: 30%;
    }
    p.footer-main {
        font-size: 11px;
        margin-bottom: 15px;
    }
    .text-form-footer h3 {
        font-size: 16px;
    }
    .footer-info.w3-agileits-info {
        padding: 15px 0;
    }
    .footer-info h3 {
        font-size: 17px;
    }
    .footer-grids ul li {
        font-size: 11.5px;
        margin: 9px 0 0;
    }
    .footer-grids ul li i {
        padding-right: 1px;
    }
    .agileits_app-devices h5 {
        font-size: 15px;
    }
    .sub-some h5 {
        font-size: 14px;
    }
    .sub-some p {
        font-size: 11px;
    }
    .sub-some:nth-child(2),
    .sub-some:nth-child(3),
    .sub-some:nth-child(4) {
        margin-top: 15px;
    }
    .copy-right p {
        font-size: 12px;
    }
    .copy-right {
        padding: 11px 0;
    }
    .page-head_agile_info_w3l {
        min-height: 80px;
    }
    ul.w3_short li {
        font-size: .7em;
    }
    ul.w3_short {
        padding: 5px 0;
    }
    p {
        font-size: 12px;
    }
    .about iframe {
        min-height: 133px;
    }
    .img-video-about img {
        width: 100%;
    }
    .about-agileits-w3layouts-right p {
        font-size: 12px;
    }
    .about h4 {
        font-size: 21px;
        margin: 9px 0;
    }
    .multi-gd-img {
        padding: 0 .8em;
    }
    .single-right-left h3 {
        font-size: 16px;
    }
    .occasion-cart .snipcart-details {
        width: 56%;
    }
    h3.w3-head {
        font-size: 16px;
    }
    .contact textarea {
        min-height: 8em;
    }
    .contact-text p {
        font-size: 12px;
    }
    .contact-text {
        padding: 0;
    }
    .map iframe {
        min-height: 200px;
    }
    .modal-body.modal-body-sub_agile {
        padding: 0 1em 1em;
    }
    h3.agileinfo_sign {
        font-size: 24px;
    }
    .modal-header {
        padding: 6px 15px;
    }
    .modal-body.modal-body-sub_agile p {
        font-size: 12px;
    }
    .modal-body.modal-body-sub_agile input[type="text"],
    .modal-body.modal-body-sub_agile input[type="email"],
    .modal-body.modal-body-sub_agile input[type="password"] {
        font-size: 12px;
        margin-bottom: 12px;
    }
    .modal-body.modal-body-sub_agile input[type="submit"] {
        padding: 10px 28px;
        font-size: 12px;
    }
    .main-mailposi span {
        font-size: 80px;
    }
    .list_of_cities {
        font-size: 13px;
    }
    .terms h6 {
        font-size: 16px;
    }
    .terms p {
        font-size: 13px;
        line-height: 23px;
    }
    .wthree-help textarea {
        height: 100px;
        padding: 0 16px;
    }
    .wthree-help form input[type="submit"] {
        font-size: 14px;
        padding: 9px 31px;
    }
    .wthree-help h5 {
        font-size: 20px;
        margin: 20px 0;
    }
    .agile-right-help img {
        margin-top: 20px;
    }
    .faq-w3agile h5,
    .privacy-w3row h5 {
        font-size: 16px;
        letter-spacing: 0px;
    }
    li.subitem1 p {
        font-size: 12px;
        line-height: 22px;
    }
    #PPminicartk form {
        width: 291px !important;
    }
    #PPminicartk ul {
        width: 254px !important;
    }
    #PPminicartk {
        left: 68% !important;
    }
    .checkout-right h4 {
        font-size: 18px;
        line-height: 1.4;
    }
    .information-wrapper input,
    .information-wrapper select {
        font-size: 13px;
        padding: 11px 10px;
    }
    button.submit.check_out {
        padding: 11px 12px;
        font-size: 14px;
    }
    .checkout-right-basket a {
        padding: 11px 15px;
        font-size: 14px;
    }
    label.anim {
        font-size: 12px;
    }
    img.pp-img {
        width: 80%;
    }
    .tab-grid p {
        font-size: 0.8em;
    }
    .form-group label {
        font-size: 14px;
    }
    .vertical_post form input[type="submit"],
    .number-paymk input[type="submit"] {
        margin-top: 20px;
    }
}